body {
  background-color: rgb(122,122,122);
}
.centered-y {
  position: relative;
  top: "40%";
}
#logo {
  width: 75%;
}
.sm {
  width: 75%;
  border: 5px black solid;
  border-radius: 50px;
}
img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
#image-slideshow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  aspect-ratio: 4/3;
}
