body {
  background-color: #f2f2f2;
}
.centered-y {
  position: relative;
  top: "40%";
}
#logo {
  width: 75%;
}
img {
  width: 100%;
  height: 100%;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
#image-slideshow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  aspect-ratio: 4/3;
}
.anchored-bottom {
  position: absolute;
  bottom: 0px;
  left: 50vw;
  margin: auto;
  width: 75vw;
  position: absolute;
  transform: translate(-50%,-50%);
}